.wrap {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.wrap video {
    position: absolute;
}

.sliders_container {
    height: 50vh;
    width: 100%;
    margin: 5% 0;
}

.sliders {
    height: 100%;
    width: fit-content;
    display: flex;
    overflow: hidden;
    gap: 20px;
    animation: scroll 60s linear infinite;
}

.sliders img {
    flex-shrink: 0;
    height: 100%;
    width: auto;
    border: 8px solid blueviolet;
    border-radius: 4px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {

    .sliders_container {
        height: 30vh;
    }

}