.wrap {
    position: relative;
    color: rgb(30, 75, 80);
    background: linear-gradient(to right, white, rgba(130, 155, 182, 0.5), white, rgba(130, 155, 182, 0.5), white, white, rgba(130, 155, 182, 0.5), white);
}

.wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap_head {
    position: relative;
    width: 100%;
    height: 80vh;
}

.label_img {
    width: 30%;
    position: absolute;
    background-color: rgb(30, 75, 80);
    border-top-left-radius: 40%;
    color: white;
    bottom: 0;
    right: 0;
}

.label_img p {
    text-align: center;
    padding: 3%;
}

.content {
    padding: 8% 2%;
}

.about {
    position: relative;
    display: flex;
    background-color: rgb(96, 131, 134);
}

.heards {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    left: 0;
}

.about__imgs {
    position: relative;
    width: 80%;
    min-height: 100%;
}

.about__imgs img {
    border: 4px solid white;
}

.about__imgs_1,
.about__imgs_2,
.about__imgs_3,
.about__imgs_4,
.about__imgs_5 {
    max-width: max-content;
    height: max-content;
    position: absolute;
}

.about__imgs_1 {
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    z-index: 1;
}

.about__imgs_1 img {
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
}

.about__imgs_2 {
    width: 400px;
    height: 400px;
    top: 17%;
    left: 38%;
    z-index: 2;
}

.about__imgs_2 img {
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
}

.about__imgs_3 {
    width: 300px;
    height: 300px;
    bottom: 0;
    left: 5%;
}

.about__imgs_3 img {
    border-radius: 10px;
}

.about__imgs_4 {
    width: 330px;
    height: 330px;
    top: 0;
    right: 5%;
    z-index: 3;
}

.about__imgs_4 img {
    border-radius: 30%;
    border-bottom-left-radius: 60%;
}

.about__imgs_5 {
    width: 300px;
    height: 300px;
    bottom: 0;
    right: 5%;
    z-index: 2;
}

.about__imgs_5 img {
    border-radius: 10px;
}

.about__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1%;
    color: white;
}

.about__description h1 {
    font-family: var(--font-marck);
    font-size: 28px;
    text-align: center;
    margin: 4% 0;
    line-height: 1;
}

.about__description p:not(:last-child) {
    margin-bottom: 4%;
}

.animals {
    padding: 2%;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: rgb(96, 131, 134);
}

.animals img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    transform: scale(0);
    transition: transform 0.8s ease-in-out;
    border: 2px solid rgb(34, 164, 203);
    border-radius: 4px;
}

.animation img {
    transform: scale(1);
    transition: transform 0.8s ease-in-out;
}

@keyframes animateRotatePhoto {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 434px) {

    .wrap img {
        max-width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .label_img {
        width: 100%;
        min-height: max-content;
        height: 10vh;
        position: static;
        border-top-left-radius: 0;
    }

    .content {
        padding: 0;
    }

    .about__imgs {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 15%;
    }

    .about__description {
        width: 60%;
        text-align: center;
        padding: 2%;
        padding-top: 10%;
    }

    .about__imgs_1,
    .about__imgs_2,
    .about__imgs_3,
    .about__imgs_4,
    .about__imgs_5 {
        position: static;
        max-width: 100%;
        height: 20%;
        max-height: 20%;
    }

    .about__imgs .active {
        position: absolute;
        object-fit: contain;
        top: 0;
        left: 0;
        z-index: 9;
        min-width: 100vw;
        min-height: 100%;
        background-color: rgba(7, 7, 7, 0.5);

    }

    .about__imgs .active img {
        object-fit: contain;
        border: none;
        animation: animateRotatePhoto 1s ease-in-out;
    }

    .about__imgs img {
        transition: all 0.3s ease-in-out;
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }

    .animals {
        padding: 2%;
        width: 100%;
        height: 30%;
    }

    .animals img {
        margin-top: 10%;
        width: 100px;
        height: 100px;
    }

    .wrap_head {
        height: 100%;
    }
}

@media (min-width: 435px) and (max-width: 1200px) {

    .wrap img {
        max-width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .label_img {
        width: 100%;
        min-height: max-content;
        height: 10vh;
        position: static;
        border-top-left-radius: 0;
    }

    .content {
        padding: 0;
        min-height: max-content;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .about__imgs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-top: 5%;
    }

    .about__description {
        width: 100%;
        text-align: center;
        padding: 2%;
        padding-top: 5%;
    }

    .about__imgs_1,
    .about__imgs_2,
    .about__imgs_3,
    .about__imgs_4,
    .about__imgs_5 {
        position: static;
        flex: 1;
        height: 300px;
        width: 200px;
        min-width: 200px;
        border-radius: 10%;
    }

    .about__imgs img {
        width: 100%;
        height: 100%;
        border-radius: 10%;
    }

    .animals {
        padding: 2%;
        width: 100%;
        height: 30%;
    }

    .animals img {
        margin-top: 10%;
        width: 30vw;
        height: 100px;
    }

    .animals> :nth-child(1) img {
        object-position: 0 60%;
    }

    .animals> :nth-child(2) img {
        object-position: 0 18%;
    }

    .animals> :nth-child(3) img {
        object-position: 0 18%;
    }

    .animals> :nth-child(4) img {
        object-position: 0 65%;
    }

    .wrap_head {
        height: 100%;
    }

}