.wrap {
    color: rgb(30, 75, 80);
    background: linear-gradient(to right, white, rgba(130, 155, 182, 0.5), white, rgba(130, 155, 182, 0.5), white, white, rgba(130, 155, 182, 0.5), white);
}

.wrap img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.content {
    padding: 5%;
}

.head {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.head h1 {
    text-align: center;
}

.head p {
    width: 80%;
    padding: 1%;
    align-self: center;
}

.head b {
    width: 80%;
    align-self: center;
}

.about {
    display: flex;
    gap: 15px;
    margin: 5% 0;
}

.about__head {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
    background-color: rgb(204, 231, 233);
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.3);
    height: 70vh;
    border-radius: 40px;
}

.about__head h2 {
    width: 90%;
}

.about__head span {
    align-self: center;
    width: max-content;
}

.about__head p {
    width: 90%;
}

.about__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.3);
    height: 70vh;
    padding: 20px;
    border-radius: 40px;
}

.about__list ul {
    width: 90%;
}

.about__list svg {
    background-color: rgb(204, 231, 233);
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    padding: 3px;
    box-sizing: border-box;
}

.about__list li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 4px;
    list-style: none;
}

.patology {
    padding: 5% 0;
}

.patology h2 {
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin-bottom: 3%;
    border-bottom: 4px solid green;
}

.patology ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 2%;
}

.patology p {
    width: 50%;
    padding-bottom: 3%;
}

.patology ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 2%;
    padding: 1% 1% 1% 2em;
    min-height: 50px;
    border-left: 4px solid rgb(15, 15, 227);
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.3);
    border-radius: 4px;
}

.patology ul li::before {
    content: "➡️";
    position: absolute;
    left: 0.5em;
    font-size: 1em;
}

.diagnostics {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0;
}

.diagnostics__content {
    max-width: 100%;
    padding-right: 5%;
    width: 50%;
}

.diagnostics__content__img {
    align-self: center;
    width: 50%;
}

.diagnostics img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.7);
}

.diagnostics h2 {
    width: max-content;
    text-align: center;
    max-width: 100%;
    margin-bottom: 3%;
    border-bottom: 4px solid green;
}

.diagnostics p {
    width: 50%;
    padding-bottom: 2%;
}

.diagnostics ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 2%;
}

.diagnostics ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 2%;
    background-color: rgb(145, 212, 220);
    color: white;
    font-weight: 700;
    border-radius: 50%;
}

.treatment {
    padding: 5% 0 2% 0;
    border-bottom: 4px solid rgb(96, 131, 134);
}

.treatment h2 {
    text-align: center;
    border-bottom: 4px solid green;
    width: max-content;
    max-width: 100%;
    margin-bottom: 2%;
}

.treatment span {
    display: block;
    width: 50vw;
    padding-bottom: 3%;
    font-weight: 600;
}

.treatment ul {
    color: rgb(0, 120, 215);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 5%;
}

.treatment ul li {
    flex: 1;
    list-style: none;
    list-style-position: inside;
    margin-right: 10px;
    text-align: center;
    padding: 2%;
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.7);
    border-left: 10px solid rgba(0, 120, 215, 0.5);
}

.treatment ul li svg {
    fill: rgb(145, 212, 220);
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5%;
}

.prices h2 {
    width: max-content;
    max-width: 100%;
    text-align: center;
    border-bottom: 4px solid green;
}

.prices ul {
    width: 50%;
}

.prices ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    list-style: none;
    padding-left: 2%;
    width: 100%;
}

.prices ul li span {
    padding-right: 2%;
}

.prices ul li:nth-child(odd) {
    background-color: rgb(204, 231, 233);
}

.prices ul li:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.banner {
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.7);
    padding: 1%;
    margin-top: 5%;
    border-radius: 4px;
    font-family: var(--font-marck), cursive;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 768px) {

    .head p {
        width: 100%;
    }

    .about {
        flex-direction: column;
    }

    .diagnostics {
        flex-direction: column;
    }

    .diagnostics p {
        width: 100%;
    }

    .diagnostics__content {
        width: 100%;
    }

    .diagnostics__content__img {
        width: 100%;
    }

    .patology p {
        width: 100%;
        text-align: center;
    }

    .patology ul li {
        width: 100%;
    }

    .treatment span {
        width: 100%;
        text-align: center;
    }

    .prices ul {
        width: 100%;
    }

}