.wrap {
    color: rgb(30, 75, 80);
    background: linear-gradient(to right, white, rgba(130, 155, 182, 0.5), white, rgba(130, 155, 182, 0.5), white, white, rgba(130, 155, 182, 0.5), white);
}

.wrap img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.content {
    padding: 5%;
}

.head {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.head h1 {
    text-align: center;
}

.head p {
    width: 80%;
    padding: 1%;
    align-self: center;
}

.head b {
    width: 80%;
    align-self: center;
}

.about {
    color: white;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2% 5%;
    background-color: rgb(96, 131, 134);
    border-left: 10px solid green;
}

.about h2 {
    text-decoration: overline;
    flex: 1;
}

.about__content {
    text-align: start;
    padding-bottom: 1%;
    flex: 1;
    border-bottom: 2px solid;
}

.symptoms {
    padding: 5% 0;
}

.symptoms h2 {
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin-bottom: 5%;
    border-bottom: 4px solid green;
}

.symptoms ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
}

.symptoms ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style: none;
    flex: 1;
    margin-right: 2%;
    min-height: 50px;
    padding: 1% 1% 1% 2em;
    border-left: 4px solid rgb(15, 15, 227);
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.3);
    border-radius: 4px;
}

.symptoms ul li::before {
    content: "➡️";
    position: absolute;
    left: 0.5em;
    font-size: 1em;
}

.symptoms p {
    margin-top: 4%;
    font-weight: 600;
}

.service {
    padding: 3% 0 3% 0;
    border-bottom: 4px solid rgb(96, 131, 134);
}

.service h2 {
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin-bottom: 5%;
    border-bottom: 4px solid green;
}

.service__content {
    display: flex;
}

.service__content__first {
    flex: 1;
    margin-right: 2%;
}

.service__content__second {
    flex: 1;
}

.service__content h3 {
    text-align: center;
    margin-bottom: 2%;
    background-color: rgb(96, 131, 134);
    color: white;
}

.service__content ul li {
    list-style-position: inside;
    list-style-type: "✔️ ";
    padding-bottom: 2%;
}

.species {
    width: 100%;
    height: max-content;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 5% 0;
}

.species__img {
    width: 58%;
}

.species__content {
    width: 40%;
}

.species img {
    width: 100%;
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.7);
}

.species h2 {
    text-align: center;
    width: max-content;
    max-width: 100%;
    margin-bottom: 3%;
    border-bottom: 4px solid green;
}

.species ul {
    margin-left: 10%;
}

.species ul li {
    margin-bottom: 1%;
    padding-left: 1%;
    list-style-type: "*️⃣  ";
}

.individual {
    color: white;
    display: inline-flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 2% 3%;
    background-color: rgb(96, 131, 134);
    border-left: 10px solid green;
}

.individual h2 {
    text-decoration: overline;
    flex: 1;
}

.individual p {
    text-align: start;
    padding-bottom: 1%;
    flex: 1;
    border-bottom: 2px solid;
}

.why_we {
    padding: 5% 0 2% 0;
    border-bottom: 4px solid rgb(96, 131, 134);
}

.why_we h2 {
    border-bottom: 4px solid green;
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.why_we ul {
    color: rgb(0, 120, 215);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 5%;
}

.why_we ul li {
    flex: 1;
    min-width: 30vw;
    list-style: none;
    list-style-position: inside;
    margin-right: 10px;
    text-align: center;
    padding: 2%;
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.7);
    border-left: 10px solid rgba(0, 120, 215, 0.5);
}

.why_we ul li svg {
    fill: rgb(145, 212, 220);
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5%;
}

.prices h2 {
    width: max-content;
    max-width: 100%;
    text-align: center;
    border-bottom: 4px solid green;
}

.prices ul {
    width: 50%;
}

.prices ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    list-style: none;
    padding-left: 2%;
    width: 100%;
}

.prices ul li span {
    padding-right: 2%;
}

.prices ul li:nth-child(odd) {
    background-color: rgb(204, 231, 233);
}

.prices ul li:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.banner {
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.7);
    padding: 1%;
    margin-top: 5%;
    border-radius: 4px;
    font-family: var(--font-marck), cursive;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 768px) {

    .head p {
        width: 100%;
    }

    .about {
        flex-direction: column;
        padding: 5%;
    }

    .symptoms ul {
        flex-direction: column;
        gap: 10px;
    }

    .species__img {
        width: 100%;
    }

    .species__content {
        width: 100%;
    }

    .individual {
        flex-direction: column;
        padding: 5%;
    }

    .why_we ul {
        flex-direction: column;
    }

    .prices ul {
        width: 100%;
    }

}