.scroll__wrap {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 11;
}

.scroll {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.show {
    opacity: 0.5;
    transform: translateY(0);
}

.scroll__svg {
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
}

.text_circle {
    position: absolute;
    animation: rotateText 6s linear infinite;
}

@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.text_circle text {
    letter-spacing: -2px;
}