.wrap {
    color: rgb(28, 78, 83);
    background: linear-gradient(to right, white, rgba(130, 155, 182, 0.5), white, rgba(130, 155, 182, 0.5), white, white, rgba(130, 155, 182, 0.5), white);
    margin-bottom: 0;
}

.wrap__img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    gap: 20px;
}

.introduction p {
    width: 70%;
}

.directions {
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid green;
}

.directions h2 {
    border-bottom: 4px solid green;
    width: max-content;
    max-width: 100%;
    text-align: center;
}

.directions__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0;
}

.directions__list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    min-height: max-content;
    padding: 5%;
    width: 75%;
    box-shadow: 0 0 4px 4px rgba(63, 66, 69, 0.3);
}

.directions__list div:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.directions__list div:nth-child(even) {
    background-color: rgb(204, 231, 233);
    border-radius: 30px;
    align-self: flex-end;
}

.directions ul li {
    padding: 10px 0 5px 15px;
    list-style: none;
    list-style-type: "🔹  ";
    list-style-position: inside;
}

.anesthesiology {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 1%;
}

.anesthesiology__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    text-align: center;
}

.anesthesiology h2 {
    border-bottom: 4px solid green;
    width: max-content;
}

.anesthesiology p {
    border-radius: 4px;
    margin-top: 2%;
    padding: 2%;
    width: 80%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.anesthesiology img {
    flex: 1;
    width: 50vw;
    height: 50vh;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.postoperative {
    display: flex;
    text-align: center;
    background-color: rgb(96, 131, 134);
    border-radius: 4px;
    padding: 50px 0;
    color: aliceblue;
    border-left: 10px solid green;
}

.postoperative h2 {
    flex: 1;
    text-decoration: underline;
    text-decoration-line: overline;
    line-height: 4;
}

.postoperative p {
    flex: 1;
    padding: 0 1%;
    width: fit-content;
    border-bottom: 2px solid white;
}

.why_we {
    padding: 5%;
}

.why_we h2 {
    border-bottom: 4px solid green;
    width: max-content;
}

.why_we ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 5% 0 0 0;
}

.why_we ul li {
    flex: 1;
    list-style-type: "✅  ";
    list-style-position: inside;
    margin-right: 10px;
    text-align: center;
}

.banner {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 1%;
    margin: 2% 0;
    border-radius: 4px;
    font-family: var(--font-marck), cursive;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2% 5% 3% 5%;
}

.prices h2 {
    width: max-content;
    border-bottom: 4px solid green;
}

.prices ul {
    width: 50%;
}

.prices ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    list-style: none;
    padding-left: 2%;
    width: 100%;
}

.prices ul li span {
    padding-right: 2%;
}

.prices ul li:nth-child(odd) {
    background-color: rgb(204, 231, 233);
}

.prices ul li:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {

    .introduction p {
        width: 100%;
    }

    .directions h2 {
        margin: 0 auto;
    }

}