.wrap {
    color: rgb(30, 75, 80);
    background: linear-gradient(to right, white, rgba(130, 155, 182, 0.5), white, rgba(130, 155, 182, 0.5), white, white, rgba(130, 155, 182, 0.5), white);
}

.wrap img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.content {
    padding: 5%;
}

.head {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head h1 {
    text-align: center;
}

.head p {
    width: 80%;
    align-self: center;
}

.head span {
    width: 80%;
    align-self: center;
    text-align: center;
}

.about {
    display: flex;
    padding: 5% 0;
    border-bottom: 4px solid rgb(96, 131, 134);
}

.about__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    align-items: center;
}

.about__img {
    width: 50%;
}

.about img {
    width: 100%;
    border: 4px solid white;
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.7);
}

.about__content h2 {
    width: max-content;
    border-bottom: 4px solid green;
}

.about__content p {
    padding: 2% 4%;
}

.recommendation {
    padding: 8% 0;
}

.recommendation h2 {
    width: max-content;
    max-width: 100%;
    text-align: center;
    border-bottom: 4px solid green;
}

.recommendation p {
    padding: 1%;
    font-weight: 600;
}

.recommendation ul {
    display: flex;
    padding-top: 3%;
}

.recommendation ul li {
    flex: 1;
    list-style: none;
    padding: 1%;
    text-align: center;
}

.recommendation ul li:nth-child(odd) {
    background-color: rgb(204, 231, 233);
}

.recommendation ul li:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.advantages {
    padding: 5% 0 2% 0;
    border-bottom: 4px solid rgb(96, 131, 134);
}

.advantages h2 {
    border-bottom: 4px solid green;
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.advantages ul {
    display: flex;
    padding-bottom: 5%;
}

.advantages ul li {
    flex: 1;
    list-style-type: "✅  ";
    list-style-position: inside;
    margin-right: 10px;
    text-align: center;
}

.timing {
    padding: 5% 0;
}

.timing h2 {
    max-width: 100%;
    text-align: center;
    width: max-content;
    margin-bottom: 2%;
    border-bottom: 4px solid green;
}

.timing p {
    width: 80%;
    padding-top: 2%;
}

.prices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5% 5% 3% 5%;
}

.prices h2 {
    width: max-content;
    max-width: 100%;
    text-align: center;
    border-bottom: 4px solid green;
}

.prices ul {
    width: 50%;
}

.prices ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    list-style: none;
    padding-left: 2%;
    width: 100%;
}

.prices ul li span {
    padding-right: 2%;
}

.prices ul li:nth-child(odd) {
    background-color: rgb(204, 231, 233);
}

.prices ul li:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.banner {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 1%;
    margin: 2% 0;
    border-radius: 4px;
    font-family: var(--font-marck), cursive;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 768px) {

    .head p {
        width: 100%;
        text-align: center;
    }

    .about {
        flex-direction: column;
    }

    .about__content {
        width: 100%;
        margin-bottom: 5%;
    }

    .about__content h2 {
        margin-bottom: 5%;
    }

    .about__img {
        width: 100%;
    }

    .recommendation ul {
        flex-direction: column;
    }

    .recommendation ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70px;
    }

    .advantages ul {
        flex-direction: column;
        gap: 20px;
    }

    .advantages ul li {
        text-align: start;
    }

    .timing h2 {
        margin: 0 auto;
    }

    .timing p {
        width: 100%;
        text-align: center;
        margin: 5% auto 0 auto;
    }

    .prices ul {
        width: 100%;
    }
}