.wrap {
    background: linear-gradient(to right, white, rgba(130, 155, 182, 0.5), white, rgba(130, 155, 182, 0.5), white, white, rgba(130, 155, 182, 0.5), white);
}

.wrap img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.content {
    padding: 5%;
}