
.header__top {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 104, 50);
}

.header__bottom {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out;
}

.header__bottom_fixed {
    position: fixed;
    top: 0;
}