.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: max-content;
    background-image: url('/advantages.jpg');
    background-repeat: no-repeat;
}

.wrap__years {
    position: absolute;
    left: 10%;
    top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap__years h1 {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.wrap__years .wrap__years_svg svg {
    width: 200px;
    height: 200px;
    fill: rgb(107, 81, 174);
    filter: drop-shadow(0 0 20px rgba(200, 150, 255, 0.8));
}

.wrap svg {
    width: 50px;
    height: 50px;
    fill: rgb(107, 81, 174);
}

.wrap__header {
    padding: 1%;
    margin-top: 2%;
    align-self: flex-end;
    font-weight: 900;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: rgb(107, 81, 174);
    border-radius: 4px;
    text-shadow: 0 0 20px rgba(200, 150, 255, 0.8);
}

.advantages {
    display: flex;
    align-self: flex-end;
    gap: 20px;
    width: 60%;
    height: 60vh;
    min-height: max-content;
}

.advantages__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    max-height: max-content;
    padding: 2%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgb(96, 131, 134);
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    flex: 1;
}

.advantages__card h2 {
    margin-bottom: 1%;
}

.advantages__card p {
    font-size: 14px;
}

@media (max-width: 1100px) {

    .wrap {
        min-height: max-content;
        height: 1000px;
        margin-bottom: 5%;
    }

    .advantages {
        flex-direction: column;
        align-self: center;
        width: 90%;
        justify-content: first baseline;
    }

    .advantages__card {
        width: 100%;
        min-height: 250px;
    }

    .wrap__years {
        position: static;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .wrap__header {
        display: none;
    }

    .wrap__years .wrap__years_svg svg {
        width: 100px;
        height: 100px;
    }

}


@media (min-width: 1101px) and (max-width: 1200px) {

    .wrap {
        height: max-content;
    }

    .wrap__header {
        margin-bottom: 20px;
    }

}