.animation_wrap {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 12px;
    right: 50px;
    font-size: clamp(26px, 4vw, 50px);
    font-weight: bolder;
}

.animation_wrap svg {
    fill: aliceblue;
    width: clamp(26px, 4vw, 50px);
}

.letters {
    display: inline-block;
    color: aliceblue;
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
    font-family: var(--font-marck), cursive;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 0.8;
        transform: translateY(0);
    }
}