.wrap {
    color: rgb(28, 78, 83);
    background: linear-gradient(to right, white, rgba(130, 155, 182, 0.5), white, rgba(130, 155, 182, 0.5), white, white, rgba(130, 155, 182, 0.5), white);
}

.wrap img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.content {
    padding: 0 5%;
}

.head {
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid green;
}

.head h1 {
    display: block;
    width: 50%;
    align-self: center;
    line-height: 1;
    margin-top: 5%;
}

.head p {
    padding: 30px;
}

.head__bottom {
    margin-bottom: 40px;
}

.head__bottom ul {
    display: flex;
    justify-content: space-around;
}

.head__bottom li {
    list-style-type: "✅ ";
    list-style-position: inside;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.head__bottom h3 {
    width: max-content;
    margin-bottom: 30px;
    border-bottom: 2px solid green;
}

.recomendation {
    display: inline-flex;
    gap: 15px;
    margin: 30px 0;
}

.recomendation_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 60px;
    background-color: rgb(204, 231, 233);
    height: 82vh;
    border-radius: 40px;
}

.recomendation_head h3 {
    margin-left: 50px;
}

.recomendation_all_lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    height: 82vh;
    padding: 20px;
    padding-left: 70px;
    border-radius: 40px;
}

.recomendation_all_lists b {
    margin-left: -20px;
}

.recomendation_all_lists svg {
    background-color: rgb(204, 231, 233);
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    padding: 3px;
    box-sizing: border-box;
}

.recomendation_all_lists li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 4px;
    list-style: none;
}

.note {
    background-color: rgb(96, 131, 134);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    border-left: 6px solid green;
    margin-bottom: 30px;
}

.safety {
    padding: 30px 0 50px 0;
}

.safety h2 {
    border-bottom: 4px solid green;
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin-bottom: 8%;
}

.safety .list {
    display: flex;
    gap: 50px;
}

.safety .list li {
    flex: 1;
    list-style: none;
    list-style-type: "✅";
    list-style-position: inside;
    text-align: center;
}

.procedure {
    padding: 50px 0;
    border-bottom: 4px solid green;
}

.procedure h2 {
    margin-bottom: 30px;
    border-bottom: 4px solid green;
    width: fit-content;
}

.procedure__items {
    display: inline-flex;
    gap: 10px;
}

.procedure__items li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    height: 50vh;
    border-radius: 40px;
    list-style: none;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.procedure__items li:nth-child(even) {
    background-color: rgb(204, 231, 233);
}

.procedure__items li:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.procedure__items span {
    text-align: center;
    line-height: 2;
    margin-left: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    font-size: 22px;
}

.procedure__items li:nth-of-type(odd) span {
    background-color: rgb(204, 231, 233);
}

.procedure__items li:nth-of-type(even) span {
    background-color: rgb(255, 255, 255);
}

.expertise {
    display: flex;
    margin: 50px 0 20px 0;
}

.expertise img {
    border-radius: 40px;
    width: 50%;
    align-self: flex-start;

}

.description {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 4%;
}

.description p {
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 40px;
    margin-top: 30px;
}

.expertise__head {
    display: flex;
    box-sizing: border-box;
}

.expertise__head h2 {
    text-align: end;
    padding-top: 40px;
    width: 50%;
    margin-left: 10%;
}

.expertise__head svg {
    position: absolute;
    right: 20%;
    top: 15%;
    height: 100px;
    width: 100px;
}

.process {
    margin: 50px;
}

.process h2 {
    border-bottom: 4px solid green;
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.process__list {
    list-style: none;
    font-weight: 600;
}

.process__list li {
    padding: 10px 0 10px 2%;
    list-style-type: "✧  ";
    list-style-position: inside;
}

.process__list li:nth-child(odd) {
    background-color: rgb(204, 231, 233);
}

.process__list li:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.banner {
    height: 30vh;
    background: linear-gradient(to right, rgb(145, 212, 220), white, white, white, rgb(145, 212, 220));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-marck), cursive;
    border-radius: 6px;
    margin-bottom: 50px;
}

.banner p {
    background-color: rgba(28, 78, 83, 0.6);
    width: 50%;
    padding: 6px;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
}


@media (max-width: 768px) {
    .head {
        max-width: 100%;
    }

    .head h1 {
        margin: 5% auto;
        text-align: center;
        max-width: 100%;
        width: 100%;
        font-size: 22px;
    }

    .head p {
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .head__bottom h3 {
        margin: 5% auto;
    }

    .head__bottom ul {
        flex-direction: column;
        gap: 20px;
    }

    .head__bottom ul li {
        text-align: center;
    }

    .recomendation {
        flex-direction: column;
    }

    .recomendation_head {
        min-height: max-content;
        height: 20vh;
        max-width: 100%;
    }

    .recomendation_all_lists {
        min-height: max-content;
        padding: 20px;
    }

    .recomendation_all_lists b {
        margin: 0 auto;
    }

    .safety .list {
        flex-direction: column;
    }

    .procedure__items {
        flex-direction: column;
    }

    .procedure__items li {
        margin-top: 10px;
    }

    .expertise {
        flex-direction: column;
    }

    .expertise img {
        width: 100%;
        height: 50vh;
    }

    .description {
        width: 100%;
    }

    .expertise__head h2 {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .expertise__head svg {
        display: none;
    }

    .description p {
        border-radius: 30px;
        margin-top: 20px;
    }

    .description {
        margin: 0;
    }

    .process {
        margin: 0;
    }

    .process__list {
        margin-bottom: 5%;
    }

    .process__list li {
        display: flex;
        align-items: center;
        min-height: 80px;
    }

    .banner {
        height: 30vh;
        border-radius: 6px;
        margin-bottom: 50px;
    }

    .banner p {
        background-color: rgba(48, 160, 170, 0.6);
        width: 80%;
    }
}