.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(28, 78, 83);
    background: linear-gradient(to right, white, rgba(130, 155, 182, 0.5), white, rgba(130, 155, 182, 0.5), white, white, rgba(130, 155, 182, 0.5), white);
}

.wrap img {
    width: 115%;
    height: 50vh;
    object-fit: cover;
    margin-bottom: 50px;
    align-self: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.head {
    display: flex;
    flex-direction: column;
}

.head h1 {
    display: block;
    width: 50%;
    align-self: center;
    line-height: 1;
}

.head p {
    padding: 30px;
}

.content h3 {
    align-self: first baseline;
}

.recomendation {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.recomendation h2 {
    text-align: center;
    padding-bottom: 10px;
}

.recomendation ol {
    margin: 0 auto;
}

.recomendation ol li {
    margin-top: 10px;
    margin-left: 50px;
    padding-left: 20px;
    list-style-type: "🐾";
    list-style-position: inside;
}

.list {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    list-style-position: inside;
}

.recomendation ul {
    display: block;
}

.recomendation ul li {
    padding: 0;
    padding-left: 2px;
    list-style-type: square;
}

.note {
    border-left: 4px solid green;
    border-radius: 4px;
    padding-left: 20px;
}

.banner {
    background: linear-gradient(to right, white, rgba(76, 63, 72), white, rgba(76, 63, 72), white, rgba(76, 63, 72), white, rgba(76, 63, 72), white);
    height: 30vh;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(76, 63, 72);
    color: white;
    fill: white;
    font-family: var(--font-marck), cursive;
    border-radius: 6px;
    margin-bottom: 50px;
}

.banner p {
    background-color: rgba(76, 63, 72, 0.6);
    width: 50%;
    padding: 6px;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
}