.wrap {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(28, 78, 83);
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description h2 {
    font-family: var(--font-marck), cursive;
    font-size: 36px;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 1s ease-out;
    width: 50%;
}

.description p {
    transition: all 2s ease-out;
    transition-delay: 0.2s;
    opacity: 0;
    transform: translateX(50px);
    width: 50%;
}

.description .titleVisible {
    transform: translateX(0);
    opacity: 1;
}

.description .paragraphVisible {
    opacity: 1;
    transform: translateX(0);
}

.services_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    perspective: 1000px;
    padding: 20px 0;
}

.card {
    display: flex;
    z-index: 1;
    width: 250px;
    height: 300px;
    perspective: 1000px;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card_inner.is_flipped {
    transform: rotateY(180deg);
}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 10px 34px 5px rgba(225, 223, 223, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    text-align: center;
    border: 6px solid white;
}

.card_front {
    justify-content: space-between;
    background-color: rgb(225, 239, 240);
}

.card_back {
    transform: rotateY(180deg);
    font-style: italic;
    background-color: rgb(225, 239, 240);
}

.accent {
    color: green;
    font-size: 22px;
}

.detailed {
    margin-top: 20px;
    color: rgb(62, 120, 182);
    font-family: var(--font-marck), cursive;
    font-size: 20px;
}

.detailed:active {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: rgb(76, 63, 72);
}

.card_front svg {
    height: 50%;
    width: 100%;
    min-height: 50%;
    border: 4px solid rgb(96, 131, 134);
    background-color: white;
    fill: rgb(145, 212, 220);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.card_front h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24%;
    min-height: max-content;
    width: 90%;
    padding: 1%;
    line-height: 1;
    font-size: 18px;
    color: white;
    background-color: rgb(96, 131, 134);
    border-radius: 10px;
}

.all_services_btn {
    position: relative;
    left: 250px;
    color: rgb(76, 63, 72);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.all_services_btn:active {
    transform: translateY(1px);
}

.all_services_btn svg {
    display: block;
    width: 20px;
    height: 20px;
}

.all_services_btn p {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

.card_front .label {
    background-color: transparent;
    opacity: 0.6;
    border: none;
    width: 50px;
    height: 50px;
    fill: rgb(9, 48, 48);
    position: absolute;
    z-index: 0;
    top: 30%;
    right: 1%;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover .card_inner {
        transform: rotateY(180deg);
        cursor: pointer;
    }

    .detailed:hover {
        color: rgb(98, 43, 226);
        text-decoration: underline;
    }

    .all_services_btn:hover {
        cursor: pointer;
        color: rgb(98, 43, 226);
        fill: rgb(98, 43, 226);
    }
}

@media (max-width: 500px) {

    .description {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .description h2 {
        width: 100%;
        line-height: 1;
        border-bottom: 1px solid rgb(145, 212, 220);
    }

    .description p {
        width: 100%;
    }

    .card {
        min-width: 90%;
        min-height: 30vh;
    }

    .card_front h2 {
        width: 80%;
        min-height: max-content;
        max-height: 20%;
    }

    .all_services_btn {
        left: 0;
    }

}

@media (min-width: 501px) and (max-width: 768px) {

    .description {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .description h2 {
        width: 100%;
        line-height: 1;
        border-bottom: 1px solid rgb(145, 212, 220);
    }

    .description p {
        width: 100%;
    }

    .card_front h2 {
        width: max-content;
        max-width: 98%;
        height: 20%;
    }

    .all_services_btn {
        left: 0;
    }

    .card {
        min-width: 80%;
        min-height: 50vh;
    }

}