.wrap {
    display: inline-flex;
    padding: 50px 20px;
    width: 100%;
    height: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;

}

.filials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.first_filial {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10%;
    gap: 10px;
    width: 80%;
    margin-right: 50px;
    margin-left: 30px;
    min-height: 40%;
    background-color: rgb(76, 63, 72);
    color: azure;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.second_filial {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
    gap: 10px;
    width: 80%;
    margin-left: 50px;
    min-height: 40%;
    background-color: rgb(76, 63, 72);
    color: azure;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.first_filial {
    margin-top: 2%;
}

.map {
    flex: 1;
    height: 80vh;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.logo {
    position: absolute;
    left: -4px;
    top: 0;
    height: 100%;
    width: 19%;
}

.logo2 {
    position: absolute;
    right: -4px;
    top: 0;
    height: 100%;
    width: 19%;
}

.logo svg,
.logo2 svg {
    width: 100%;
    height: 100%;
    fill: rgb(255, 255, 255);
}

.logo2 svg {
    transform: rotate(180deg);
}