.wrap {
    padding: 5% 5% 5% 5%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 1%;
    margin-bottom: 5%;
    color: white;
    border-radius: 4px;
    background-color: rgba(96, 131, 134, 1);
    box-shadow: 0 0 10px 4px rgba(63, 66, 69, 0.7);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.head_visible {
    transform: translateX(0);
    opacity: 1;
}

.description h1 {
    font-family: var(--font-marck), cursive;
}

.services_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.card {
    position: relative;
    display: flex;
    height: 70vh;
    width: 40vw;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card svg {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: rgb(96, 131, 134);
    fill: aliceblue;
    stroke: aliceblue;
    padding: 3%;
    transition: all 0.2s ease-in-out;
}

.card h2 {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 5;
    bottom: 0;
    color: white;
    padding: 2%;
    background-color: rgb(96, 131, 134);
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.card.mobile_animate svg {
    transform: translate(-50%, 70%) scale(1.5);
    box-shadow: 0 0 30px 10px rgba(202, 202, 202, 0.8);
    border: none;
}

@media (hover:hover) and (pointer: fine) {
    .card:hover {
        cursor: pointer;
    }

    .card:hover svg {
        top: 30%;
        box-shadow: 0 0 30px 10px rgba(220, 220, 220, 0.8);
        border: none;
    }

    .card:hover h2 {
        box-shadow: 0 0 30px 10px rgba(220, 220, 220, 0.8);
    }

    .card:hover img {
        filter: brightness(0.4);
        transition: all 0.2s ease-in-out;
    }

}

@media (max-width: 1174px) {

    .wrap {
        padding: 0;
        min-height: max-content;
        margin-bottom: 5%;
    }

    .description {
        width: 100%;
        text-align: center;
        margin: 8% 0;
    }

    .description h1 {
        font-size: 28px;
    }

    .description p {
        font-size: 14px;
        padding-bottom: 2%;
    }

    .services_cards {
        gap: 30px;
    }

    .card {
        height: 50vh;
        width: 90%;
        border-radius: 10px;
    }

    .card img {
        border-radius: 10px;
    }

    .card svg {
        width: 100px;
        height: 100px;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
    }

}